# Ignore virtual environment
venv/

# Ignore build artifacts
build/

# Ignore egg files
.eggs/
DeepLoc2.egg-info/
venv/
build/
.eggs/
DeepLoc2.egg-info/

# Ignore embeddings
data_files/embeddings/esm1b_swissprot.h5
