# Ignore virtual environment
venv/
myenv/

# Ignore build artifacts
build/

# Ignore egg files
.eggs/
DeepLoc2.egg-info/
venv/
build/
.eggs/
DeepLoc2.egg-info/

# Ignore data_files
data_files/embeddings

# Ignore everything under esm1b
outputs/esm1b/**/*
# But not .csv files inside any subfolder of esm1b
!outputs/esm1b/**/*.csv

# Ignore everything under prott5
outputs/prott5/**/*
# But not .csv files inside any subfolder of prott5
!outputs/prott5/**/*.csv

# Ignore pycache
src/__pycache__/

